@import "swiper.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap");

@font-face {
  font-family: "ArcherPro";
  src: url(../fonts/ArcherPro/ArcherPro.otf);
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  letter-spacing: 0;
}

main {
  border-bottom: 5px solid #0089bc;
}

footer {
  background-color: #283137;
}
footer .row {
  flex-direction: row;
}
footer .row:first-child {
  justify-content: space-between;
  height: 300px;
  align-items: flex-start;
  padding-top: 2.5rem;
}
footer .row:last-child {
  border-top: 3px solid #e1e1e1;
  padding: 15px 10px 50px 0;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.row div {
  display: flex;
  align-items: center;
}

.border-blue {
  border-top: 3px solid #71d8ff;
}

.bold-border-blue {
  border-top: 5px solid #71d8ff;
}

.back-100 {
  margin: -1px;
  overflow: hidden;
  width: 100%;
  height: auto;
  align-items: center;
}

header .row:nth-child(2) {
  background-color: #033244;
  width: 100%;
  align-items: center;
}

section {
  padding: 20px 0px;
}

input,
select {
  font-family: "Roboto Slab", serif;
}

.top {
  justify-content: space-evenly;
  height: 62px;
}
.top div {
  width: 33%;
}
.top .logo {
  width: 12%;
}
.top .servicos {
  width: 63%;
  display: flex;
  justify-content: flex-start;
}
.top .servicos ul {
  font-family: "ArcherPro";
  color: #2c3a2f;
  display: inline-flex;
  list-style: none;
}
.top .servicos ul li {
  padding: 0 20px;
  text-align: left;
}
.top .contas {
  width: 23%;
}
.top .contas ul {
  display: inline-flex;
  list-style: none;
}
.top .contas ul li {
  padding: 0 20px;
}
.top .contas .lista-contas select {
  border: transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  width: 80%;
}
.navbar .list ul {
  display: inline-flex;
  list-style: none;
}
.navbar .list ul {
  display: inline-flex;
  list-style: none;
}
.navbar .list li,
select {
  padding: 0 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}
.navbar .list select {
  border: transparent;
  background-color: #033244;
  padding: 0;
}
.navbar .pesquisa form {
  border: 1px solid #00aeef;
  background-color: #033244;
  border-radius: 8px;
  padding: 10px 30px;
  margin-right: 1.25rem;
}
.navbar .pesquisa form input {
  border: transparent;
  background-color: #033244;
  border-radius: 8px;
  color: #b2eaff;
}
.navbar .pesquisa form input::placeholder {
  color: #b2eaff;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}
.navbar .pesquisa form button {
  border: transparent;
  background-color: #033244;
  color: #e2f7ff;
}

.banner {
  width: 1920px;
  height: 653px;
  background: transparent url("../img/banner.png") no-repeat padding-box;
  opacity: 1;
  background-position: 0% 0%;
  background-size: auto auto;
}

.introducao .navigation {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.introducao .navigation .icon {
  color: #005271;
  background-color: #f6f6f6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.introducao .navigation .icon:first-child {
  margin-left: 23.5rem;
}
.introducao .navigation .icon:last-child {
  margin-left: 1rem;
}
.introducao .servicos {
  align-items: flex-start;
}

.introducao .servicos .esquerda .texto {
  flex-direction: column;
}
.introducao .servicos .esquerda .texto .servicos-titulo {
  font-size: 32px;
  color: #033244;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2rem;
  margin-right: 1rem;
}
.introducao .servicos .esquerda .texto .servicos-titulo .destaque {
  font-size: 32px;
  color: #00aeef;
}
.introducao .servicos .meio .linha-vertical {
  height: 250px;
  margin: 0 10px;
}
.introducao .servicos .esquerda .texto .btn-ver-servicos {
  text-decoration: none;
  background-color: #71d8ff;
  color: #033244;
  padding: 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start;
}
.introducao .servicos .direita .servico {
  flex-direction: column;
  box-shadow: 1px 3px 10px #00000014;
  margin: 1px 15px 0px;
  padding: 10px 30px 30px;
  width: 235px;
}
.introducao .servicos .direita .servico:last-child {
  flex-direction: column;
  box-shadow: 1px 3px 10px #00000014;
  margin-right: 0px;
}
.introducao .servicos .direita .servico .servico-titulo {
  font-size: 15px;
  font-weight: bold;
}
.introducao .servicos .direita .servico .servico-desc {
  font-size: 13px;
}

.conheca-produtos .conheca-titulo {
  justify-content: center;
}
.conheca-produtos .conheca-titulo .titulo {
  color: #033244;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0px;
  color: #033244;
}
.conheca-produtos .conheca-titulo .titulo span {
  color: #00aeef;
}
.conheca-produtos .ver-todos {
  justify-content: center;
}
.conheca-produtos .ver-todos .btn-ver-todos {
  text-decoration: none;
  background-color: #71d8ff;
  color: #033244;
  padding: 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.faca-parte .conteudo {
  background: transparent url("../img/bg_time.png") 0% 0% no-repeat padding-box;
  flex-direction: column;
  align-items: flex-start;
  height: 402px;
  justify-content: center;
  padding: 1rem 5.5rem;
}
.faca-parte .conteudo .faca-parte-title {
  font-size: 32px;
  color: #033244;
  font-weight: bold;
}
.faca-parte .conteudo .faca-parte-texto {
  font-size: 18px;
  color: #005271;
  width: 45%;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}
.faca-parte .conteudo .faca-parte-link {
  text-decoration: none;
  background-color: #71d8ff;
  color: #033244;
  padding: 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start;
}

.selecao .selecao-titles {
  flex-direction: column;
}
.selecao .selecao-titles .title {
  font-size: 32px;
  font-weight: bold;
  color: #2c3a2f;
  margin-bottom: 1rem;
}
.selecao .selecao-titles .sub-title {
  font-size: 20px;
  font-weight: 500;
  color: #0089bc;
  margin-bottom: 2rem;
}
.selecao .cards {
  justify-content: space-between;
}
.selecao .cards .card {
  flex-direction: column;
  max-width: 32.25%;
  color: #ffffff;
  background-color: #283137;
  text-align: left;
}
.selecao .cards .card-image {
  max-width: 100%;
}
.selecao .cards .card-title {
  font-size: 18px;
  color: #ffffff;
  padding: 25px 30px 5px;
  align-self: flex-start;
}
.selecao .cards .card-texto {
  font-size: 14px;
  color: #e2f7ff;
  padding: 15px 30px 20px;
}
.selecao .cards .card-link {
  font-size: 12px;
  color: #00aeef;
  padding: 15px 30px 25px;
  align-self: flex-start;
  font-weight: bold;
  text-decoration: none;
}

.conheca-visao {
  padding: 40px 0;
}
.conheca-visao .conteudo {
  background: transparent url("../img/bg_conheca.png") 0% 0% no-repeat
    padding-box;
  flex-direction: column;
  align-items: flex-start;
  height: 402px;
  justify-content: center;
  padding: 1rem 5.5rem;
}
.conheca-visao .conteudo .faca-parte-title {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  width: 60%;
  text-align: left;
}
.conheca-visao .conteudo .faca-parte-texto {
  font-size: 18px;
  color: #71d8ff;
  width: 55%;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 2.75rem;
}
.conheca-visao .conteudo .faca-parte-link {
  text-decoration: none;
  background-color: #0089bc;
  color: #ffffff;
  padding: 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start;
}

.certificados .horizontal-line {
  max-width: 100%;
  height: 33px;
  margin-bottom: 2rem;
}
.certificados .row:nth-child(2) {
  flex-direction: row;
  justify-content: space-around;
}
.certificados .text {
  flex-direction: column;
  text-align: left;
  width: 48%;
}
.certificados .text .certificados-title {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 16px;
}
.certificados .text .certificados-text {
  font-weight: 100;
  color: #2c3a2f;
  font-size: 15px;
}

.contato .box {
  background-color: #f3f3f3;
  padding: 2.5rem 1.75rem;
}
.contato .box .text {
  flex-direction: column;
  padding: 0 50px;
  width: 40%;
  text-align: left;
}
.contato .box .contato-title {
  color: #033244;
  font-size: 32px;
}
.contato .box .contato-text {
  color: #0089bc;
  font-weight: bold;
  font-size: 20px;
}
.contato .box .form {
  width: 60%;
}
.contato .box .form form {
  width: 90%;
}
.contato .box .form form .form-group input {
  color: #005271;
  border: 1px solid #005271;
  padding: 10px 20px;
  vertical-align: middle;
  margin: 8px 0;
  width: 100%;
}
.contato .box .form form .form-group input::placeholder {
  color: #005271;
  font-size: 16px;
}
.contato .box .form form .form-group .submit-button {
  text-decoration: none;
  border: none;
  font-family: "Roboto Slab", serif;
  background-color: #71d8ff;
  color: #033244;
  padding: 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start;
  margin: 8px 0;
}

.logo .footer-logo {
  margin: 5px;
}
.listas {
  align-items: flex-start;
}

.listas .lista {
  list-style: none;
  text-align: left;
  padding: 0 15px;
}
.listas .lista-atendimento {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}
.listas .lista .lista-titulo,
.lista-atendimento .lista-titulo {
  color: #e2f7ff;
  font-size: 16px;
  margin-bottom: 1rem;
}
.listas .lista .li-item {
  margin: 3px 0px;
}
.listas .lista .li-item a {
  color: #00aeef;
  text-decoration: none;
  font-size: 14px;
}
.listas .lista-atendimento .li-item {
  color: #b2eaff;
  font-size: 14px;
  width: 163px;
}

.direitos {
  align-items: flex-start;
  padding-top: 0.5rem;
}
.direitos .texto-direitos {
  font-size: 14px;
  color: #E1E1E1;
}

.redes-sociais {
  flex-direction: column;
}
.redes-sociais .redes-titulo {
  color: #71D8FF;
  font-size: 20px;
  font-weight: 400;
}
.redes-sociais .redes {
  align-self: flex-start;
}
.redes-sociais .redes a {
  color: #71D8FF;
  padding: 20px 15px 0;
}
.redes-sociais .redes a:first-child {
  padding-left: 0;
}
.redes-sociais .redes a i {
  font-size: 1.85em;
}